* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color:#fff !important;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--bs-nav-link-color);
}

h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif, Arial, Helvetica;
    font-weight: bold;
    margin-bottom: 20px;
}

ul, ol {
    list-style-type: none;
}

p {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight: 550;
    color: var(--bs-nav-link-color);
    line-height: 1.5;
}

span {
    font-weight: normal;
}


.form-control {
    background-color: #d1d1df !important;
    border: 1.5px solid #fff !important;
    font-size: 14px;
    font-weight: normal;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.form-control::placeholder {
    color: rgba(166, 166, 168, 0.9) !important;
}



/* Common CSS */
.dropdown-item.active, .dropdown-item:active {
    color: #000000;
    text-decoration: none;
    background-color: #fff;
}

.bg-body-tertiary {
    /* background-color:rgb(224 224 229) ; */
    /* background-color:#e7f0ff   !important; */
    background-color: #d1d1df !important;
}

.nav-item {
    padding: 0 10px;
}

i {
    font-size: 16px;
    margin-right: 5px;
}


.ab-tm-header h2,
.contact-us h2 {
    margin-bottom: 20px;
}





/* Top NavBar */
.top-navbar {
    background-color: red;
}



/* Navbar */
.nav-logo img {
    width: 60px;

}



/* Banner */
.banner {
    height: calc(100vh - 80px);
    border-radius: 0 0 37% 0;
    -webkit-border-radius: 0 0 37% 0;
    -moz-border-radius: 0 0 37% 0;
    -ms-border-radius: 0 0 37% 0;
    -o-border-radius: 0 0 37% 0;
    box-shadow: 1px 1px 5px #999;
}

.banner-info {
    flex: 1;
}

.banner-info h1 {
    font-size: 35px;
}

.banner-info p {
    margin-bottom: 50px;
}

.banner-img {
    flex: 1;
    width: 80%;
    height: 250px;
}

.banner-img  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-img  img:hover {
    scale: 1.15;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition-duration: 3s, 5s;
}




/* Contact US */
.contact-us,
.about-us,
.service,
.career{
    background-image: url('../images//imgs/office-group.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    width: 100%;
}

.contact-bg {
    height: 300px;
    background-color: transparent;
    background-color: #252525;
    opacity: 0.6;
}

.contact-bg .breadcrumb-item,
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.contact-bg .breadcrumb-item.active {
    color: #ffffffa0;
    opacity: 1;
}

.ct-box {
    /* background-color: orange; */
    width: 100%;
}

.ct-box-lt {
    /* background-color: red; */
    width: 100%;
    /* height: 400px; */
}

.ct-box-info {
    width: 60%;
}

.ct-box-lt p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    /* background-color: yellow; */
}

.ct-box-rt {
    width: 100%;
    /* height: 400px; */
}

.ct-box-rt form {
    background-color: #d1d1df;
    width: 350px;
    height: 100%;
    box-shadow: 1px 1px 3px 1px #999;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ct-box-rt form .form-control:focus {
    box-shadow: none !important;
    border: 1.5px solid rgba(0, 0, 0, 0.8)!important;
}

.react-tel-input .flag-dropdown {
    left: 0;
    border: none;
    background-color: transparent !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
    border-radius: 30px 0 0 30px !important;
    -webkit-border-radius: 30px 0 0 30px !important;
    -moz-border-radius: 30px 0 0 30px !important;
    -ms-border-radius: 30px 0 0 30px !important;
    -o-border-radius: 30px 0 0 30px !important;
}

.react-tel-input .form-control {
    height: 38px;
    width: 100%;
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
}

.ct-box-rt form .ct-btn {
    font-size: 16px;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.ct-box-rt form .ct-policy {
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
    font-weight: normal;
    color: rgba(166, 166, 168, 1);
}

.ct-box-rt form .ct-policy b{
    color: #333;
    font-weight: bold !important;
}

.ct-map {
    background-color: #d1d1df;
    width: 100%;
    height: 400px;
}

.ct-area {
    resize: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ct-area::-webkit-scrollbar {
    width: 5px;
  }
  
.ct-area::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 0 40px 40px 0;
    -webkit-border-radius: 0 40px 40px 0;
    -moz-border-radius: 0 40px 40px 0;
    -ms-border-radius: 0 40px 40px 0;
    -o-border-radius: 0 40px 40px 0;
}

textarea.form-control {
    min-height: calc(3em + 3rem + calc(var(--bs-border-width)* 2));
}



/* About Us */
.ab-tm-card .card {
    background-color: #d1d1df !important;
}

.ab-tm-header p {
    font-weight: normal;
    font-size: 16px;
}

.ab-tm-card .ab-tm-img {
    height: 200px;
}

.ab-tm-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 13%;
}

.ab-tm-card .card-text {
    font-weight: normal;
    font-size: 16px;
}

.ab-btn {
    font-weight: bold;
    font-size: 14px;
    box-shadow: 1px 2px 4px #999 !important;
}





/* Service */
.sv {
    position: relative;
    overflow: hidden;
}

.service .sv-bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('../images/imgs/line.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    z-index: 1;
}

#sv-header .card {
    z-index: 100;
    border: none;
    border-radius: unset !important;
    -webkit-border-radius: unset !important;
    -moz-border-radius: unset !important;
    -ms-border-radius: unset !important;
    -o-border-radius: unset !important;
}

.sv-active {
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 5px #e9e9e8;
    border-radius: unset !important;
    -webkit-border-radius: unset !important;
    -moz-border-radius: unset !important;
    -ms-border-radius: unset !important;
    -o-border-radius: unset !important;
}

#sv-header .card:hover {
    background-color: #ffffff;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    box-shadow: 0px 0px 20px 5px #e9e9e8;
    border-radius: unset !important;
    -webkit-border-radius: unset !important;
    -moz-border-radius: unset !important;
    -ms-border-radius: unset !important;
    -o-border-radius: unset !important;
}

.service .sv-logo {
    height: 80px;
}

.service .sv-logo i{
    font-size: 40px;
    color: #d1d1df;
    text-shadow: 1px 1px 2px #999;
}

.service .card-body p {
    font-weight: normal;
    font-size: 15px;
    padding-right: 50px;
    line-height: 1.5;
}

.service .card-body a {
    color: rgb(19, 86, 230);
    font-weight: bold;
}




/* Careers */
.cr-filter {
    margin: 0;
    padding: 0;
}

.cr-filter form{
    padding-left: 5px;
}

.cr-filter form input {
    border-right: 1px solid #999!important;
}


.cr-filter form i {
    margin-right: 0;
}

.cr-filter .form-control {
    background-color: #ffffff !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.cr-filter .form-control:focus {
    box-shadow: none;
}

.cr-filter form select {
    border: none;
    box-shadow: none;
    border-right: 1px solid #999 !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.cr-filter form select:last-child {
    margin-right: 0 !important;
}

.cr-filter form select:focus {
    box-shadow: none;
    box-shadow: none !important;
}

.cr-filter button {
    border-radius: 0 13px 13px 0 !important;
    -webkit-border-radius: 0 13px 13px 0 !important;
    -moz-border-radius: 0 13px 13px 0 !important;
    -ms-border-radius: 0 13px 13px 0 !important;
    -o-border-radius: 0 13px 13px 0 !important;
}

.cr p {
    font-weight: normal;
    font-size: 16px;
}

.cr-body .card {
    width: 600px;
}

.cr-active {
    background-color: #0d6efd !important; 
}








/* Footer */
.ft-link li {
    margin-bottom: 5px;
}

.ft-link li a:hover {
    text-decoration: underline;
}

.ft-social  {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ft-social i {
    font-size: 20px;
}

.ft-social i:hover {
    opacity: 0.9;
}

/* Copyright */
.copy-right {
    height: 50px;
}
